<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website - About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
</head>
<body>
 <h1>Rahjay Jones</h1>
 <img src="{{ url_for('static', filename='logo1.png') }}" alt="Logo" class="logo">
 <p>I am Rahjay Jones, I enjoy a lot of various activities such as football, table tennis and playing games, I also enjoy Computer Science as well as Economics.</p>
</body>
</html>